*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(backs.jpg);
}
.container
{
    margin: auto; 
    margin-top: 200px;
    margin-left: 400px;
}

.word{
    font-size: 20px;
    color: white;
}

.text{
    background-color: black;
}
.card-body
{
    background-image: linear-gradient(black,green); 
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    color: honeydew;
    overflow-wrap: break-word;
    background-color: rgb(0 0 0);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2rem;
}

.resultValueSection
{
    display: flex;
}
